footer{
  display: flex;
  justify-content: center;
  background-color: #FAB42F;
  width: 100vw ;
  height: 3rem;
  position: relative;
}


footer div{
    display: flex;
    width: 30%;
    max-width: 10rem;
    align-items: center;
    justify-content: space-around;
  }

footer div p{
  color: #2A2E4A;
  font-weight: 500;
}

