*,
body,
a,
footer {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  text-decoration: none;
  border: none;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./asstes/fonts/Montserrat-variable.ttf);
  font-style: normal
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.8rem;
}

body {
  display: flex;
  justify-content: center;
  background-image: url('./asstes/imgs/slot-machine.svg'), linear-gradient(#EAEBF4, #CACACA);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}


html {
  scroll-behavior: smooth;
}


.App{
  max-width: 100%;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.resgatar-bonus button {
  font-size: 0.9em;
  font-weight: bold;
  color: #027027;
  background-color: #FAB42F;
  padding: 8px 16px;
  border-radius: 10px;
  animation: pulse 1.5s infinite;
}

.gratis {
  color: #027027;
}

.resgatar-bonus {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding: 1rem;
  color: #002776;
  text-align: center;
  font-weight: bold;

}

.boxes{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  width: 100vw;
}

.boxes .MuiContainer-root{
  max-width: 80%;
}

.PrivateSwitchBase-input{
  color: #002776 !important;
}

/* inicio @mediaquery desktop  */
@media (max-width:4500px) {
  .resgatar-bonus {
    margin-top: 19vw;
    margin-left: 8%;
    margin-bottom: 24vw;
    font-size: 2em;
  }
  .resgatar-bonus a {
    font-size: 1.1em;
    padding: 1em 1.4em;
    border-radius: 15px;
  }
}

@media (max-width:1500px) {
  .resgatar-bonus {
    margin-top: 19vw;
    margin-bottom: 24vw;
    font-size: 1.8em;
  }

  .resgatar-bonus a {
    font-size: 1.1em;
    padding: 1em 1.4em;
    border-radius: 15px;
  }

}

@media (max-width:1100px) {
  .resgatar-bonus {
    margin-top: 19vw;
    margin-bottom: 24vw;
    font-size: 1.6em;
  }

  .resgatar-bonus a {
    font-size: 1em;
    padding: 1em 1.4em;
    border-radius: 15px;
  }
}

@media (max-width:900px) {
  .resgatar-bonus {
    margin-top: 14vw;
    margin-bottom: 24vw;
    font-size: 1.5em;
  }
  .gratis {
    margin-bottom: 0.3em;
  }
}

/* fim @mediaquery desktop e inicio mobile */

@media (max-width:750px) {
  body {
    background-image: url('./asstes/imgs/slot-machine-mobile.svg'), linear-gradient(#EAEBF4, #CACACA);
  }

  .resgatar-bonus {
    margin-top: 36vw;
    margin-bottom: 25vw;
    font-size: 1.7em;
  }

  .resgatar-bonus a {
    font-size: 1em;
    padding: 0.8em 1.2em;
    border-radius: 15px;
  }
}

@media (max-width:650px) {
  .resgatar-bonus {
    margin-top: 35vw;
    font-size: 1.5em;
  }
}

@media (max-width:550px) {
  .resgatar-bonus {
    margin-top: 34vw;
    font-size: 1.3em;
  }

}

@media (max-width:450px) {
  .resgatar-bonus {
    margin-top: 32vw;
    font-size: 1.2em;
  }
}

@media (max-width:410px) {
  .resgatar-bonus {
    margin-left: 1rem;
    margin-top: 26vw;
    font-size: 1em;
  }

}

footer{
  display: flex;
  justify-content: center;
  background-color: #FAB42F;
  width: 100vw ;
  height: 3rem;
  position: relative;
}


footer div{
    display: flex;
    width: 30%;
    max-width: 10rem;
    align-items: center;
    justify-content: space-around;
  }

footer div p{
  color: #2A2E4A;
  font-weight: 500;
}

/* final @mediaquery mobile */

.MuiSvgIcon-root{
  color: #7E7A7A;
}
.MuiPaper-root {
  background-color: #2A2E4A !important;
  box-shadow: none !important;
}
.MuiTypography-root{
  color:white !important
}